@charset "UTF-8";
/* CSS Document */
* {
	  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	  -webkit-tap-highlight-color: rgba(0,0,0,0); 
	  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	  -webkit-tap-highlight-color: rgba(0,0,0,0); 
	  -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
}

#RXdata 
{
	position: absolute;
	left: 30px;
	top: 650px;
	z-index: 2;
	text-align: left;
	font: 16px/1px sans-serif; 
	font-weight: bold; 
	color: #666; 
}

#divPopUpTap {
	position: absolute;
	left: 300px;
	top: 350px;
	z-index: 2;
	text-align: center;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666; 
}


#divTapSU {
	position: absolute;
	left: 670px;
	top: 195px;
	z-index: 1;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666;
}

#divTapGIU {
	position: absolute;
	left: 670px;
	top: 455px;
	z-index: 1;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666;
}

#divTapStop {
	position: absolute;
	left: 670px;
	top: 325px;
	z-index: 1;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666;
}

#divPopUpLuci {
	position: absolute;
	left: 150px;
	top: 180px;
	z-index: 2;
	text-align: center;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666; 
}

#divLuciOFF {
width: 29%;
height: 10%;
	position: absolute;
	left: 30px;
	top: 225px;
	z-index: 1;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666;
}

#divLuciON {
	position: absolute;
	left: 30px;
	top: 85px;
	z-index: 1;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666;
}

#divPopUpScenari {
	position: absolute;
	left: 150px;
	top: 520px;
	z-index: 2;
	text-align: center;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666; 
}

#divScenariOFF {
	position: absolute;
	left: 30px;
	top: 567px;
	z-index: 1;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666;
}

#divScenariON {
	position: absolute;
	left: 30px;
	top: 495px;
	z-index: 1;
	font: 13px/1px sans-serif; 
	font-weight: bold; 
	color: #666;
}

input#roundRed{
-webkit-appearance: none;
 -webkit-border-radius: 0;
width:100px; /*same as the height*/
height:100px; /*same as the width*/
background-color:#d0451b;
border:1px solid #d0451b; /*same colour as the background*/
color:#fff;
text-align: center;
padding: 0px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:30px;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
/*give the button a small drop shadow*/
-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
input#roundRed:hover{
background:#bc3315;
border:1px solid #bc3315;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}
input#roundRed:active{
position: relative;
top: 2px;
}

input#roundBlue{
-webkit-appearance: none;
 -webkit-border-radius: 0;
width:100px; /*same as the height*/
height:100px; /*same as the width*/
background-color:#2dabf9;
border:1px solid #2dabf9; /*same colour as the background*/
color:#fff;
text-align: center;
padding: 0px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:30px;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
/*give the button a small drop shadow*/
-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
input#roundBlue:hover{
background:#0688fa;
border:1px solid #0688fa;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}
input#roundBlue:active{
position: relative;
top: 2px;
}

input#roundGreen{
-webkit-appearance: none;
 -webkit-border-radius: 0;
width:100px; /*same as the height*/
height:100px; /*same as the width*/
background-color:#44c767;
border:1px solid #44c767; /*same colour as the background*/
color:#fff;
text-align: center;
padding: 0px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:30px;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
/*give the button a small drop shadow*/
-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
input#roundGreen:hover{
background:#5cbf2a;
border:1px solid #5cbf2a;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}
input#roundGreen:active{
position: relative;
top: 2px;
}


/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 50px;
   overflow: hidden;
   width: 330px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 30px;
   height: 50px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 330px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 50px;
   width: 330px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 50px;
   width: 330px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
   border: 0;
   color: #EEE;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: #58B14C;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;
}